div(id="accountMangeContent")
    .row
        .col-md-4
            .list-group
                a.list-group-item.active(href='#')
                    | Quản Lý Thông Tin Tài Khoản
                a.list-group-item(href='#',ng-click="showme=true") Thông Tin Cá  Nhân
                a.list-group-item(href='#',ng-click="showme=false") Câu Hỏi
        .col-md-8
            .panel.panel-primary(ng-hide="showme")
                .panel-heading
                    h3.panel-title Panel title
                .panel-body  Panel content
            .panel.panel-primary(ng-show="showme")
                .panel-heading
                    h3.panel-title Panel title
                .panel-body  Panel content


