.widewrapper.main
    .container
        .row(ng-controller="DetailController")
            .col-md-8.blog-main
                article.blog-post
                    header
                        h1 {{detail.Title}}
                        .lead-image
                            img.img-responsive(src='/img/background-details.png', alt='{{detail.Title}}',style='width:80%')
                            .meta.clearfix
                                .author
                                    i.fa.fa-user
                                    span.data {{detail.UserQuestion}}
                                .date
                                    i.fa.fa-calendar
                                    span.data {{detail.CreateDate | date : "dd.MM.y" }}
                                .comments
                                    i.fa.fa-comments
                                    span.data
                                        a(href='#create-comment') {{listOfAnswers.length}} Câu Trả Lời
                    .body
                        br
                        p#question-detail
                            | {{detail.Content}}
                aside#comments.comments
                    hr
                    h2
                        i.fa.fa-comments
                        |  {{listOfAnswers.length}} Câu Trả Lời
                    article#answer-list.comment(ng-repeat="answer in listOfAnswers")
                        header.clearfix
                            .glyphicon.glyphicon-thumbs-up(id="likeBtn-{{answer._id}}",ng-controller='LikeController',ng-click='LikeAnswer(answer._id)') &nbsp;
                            .glyphicon.glyphicon-thumbs-down(id="dislikeBtn-{{answer._id}}",ng-controller='DislikeController',ng-click='DislikeAnswer(answer._id)')
                            //-img.avatar(src='img/avatar.png', alt='A Smart Guy')
                            .meta
                                h3
                                    a(href='#') {{answer.UserAnswer}}
                                span.date
                                    | {{answer.CreateDate | date : format : fullDate}}
                                span.separator
                                    | -
                                span  Đã Trả Lời
                                p
                                    span(id='like-{{answer._id}}')  {{answer.Like.length}}
                                    | &nbsp;lượt like
                                p
                                    span(id='dislike-{{answer._id}}') {{answer.Dislike.length}}
                                    | &nbsp;lượt dislike
                        .body
                            | {{answer.Content}}
                    //-article.comment.reply
                      header.clearfix
                        img.avatar(src='img/avatar.png', alt='A Smart Guy')
                        .meta
                          h3
                            a(href='#') Willy Wonka
                          span.date
                            | 27 July 2013
                          span.separator
                            | -
                          a.reply-link(href='#create-comment') Reply
                      .body
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut  liquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                aside#create-comment.create-comment(ng-controller='AnswerController')
                    hr
                    h2
                        i.fa.fa-pencil
                        |  Trả Lời
                    form#AnswerForm(name='AnswerForm',ng-submit='PostAnswer()',novalidate='')
                        input#QuestionId(name='QuestionId',type='hidden',ng-model='AnswerForm.QuestionId',value='{{detail._id}}')
                        textarea#Content.form-control.input-lg(rows='10',ng-model='AnswerData.Content', name='Content', placeholder='Nội dung trả lời',required='')
                        label(for='Content', ng-show='(AnswerForm.Content.$dirty || AnswerFormSubmmit) && AnswerForm.Content.$error.required') Câu trả lời không được để trống
                        .buttons.clearfix
                            button.btn.btn-primary.btn-lg(type='submit',ng-hide='HideAnswerBtn') Đăng câu trả lời
                            div(style='text-align:center;margin:10%')
                                img(src='/img/icon/loading.gif',ng-show='ShowLoading')
            aside.col-md-4.blog-aside
                .aside-widget
                    div(style='margin-left: 10%;')
                        p
                            a.btn.btn-primary.btn-md(href='/tao-cau-hoi',style='width:305px') Bạn có thắc mắc ?
                        p
                            .input-group(ng-controller='SearchController')
                                input#QueryString.form-control(type='text',name='QueryString',ng-model='SearchData.QueryString',placeholder='Tìm câu hỏi')
                                span.input-group-btn
                                    button.btn.btn-default(type='button',ng-click='Search()') Go!
                    header
                        h3 Read next...
                    .body
                        ul.tales-list
                            li
                                a(href='index.html') Email Encryption Explained
                            li
                                a(href='#') Selling is a Function of Design.
                            li
                                a(href='#') It’s Hard To Come Up With Dummy Titles
                            li
                                a(href='#') Why the Internet is Full of Cats
                            li
                                a(href='#') Last Made-Up Headline, I Swear!
                .aside-widget
                    header
                        h3 Tài liệu tham khảo
                    .body
                        ul.tales-list
                            li(ng-repeat='ref in refs')
                                a(href='{{ref.Link}}',target='_blank') {{ref.Title}}


