doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/login.min.css", media="bogus")
    link(rel="icon", type="image/x-icon", href='/favicon.ico')

    body
    link(rel="stylesheet", href="/css/login.min.css")
    .login-page
    .form
      form.login-form
        input(type='text', placeholder='Tài Khoản')
        input(type='password', placeholder='Mật Khẩu')
        button Đăng Nhập

