doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/login.min.css", media="bogus")
    link(rel="icon", type="image/x-icon", href='/favicon.ico')

    body
    link(rel="stylesheet", href="/css/login.min.css")
    .login-page
    .form
      form.login-form(name="signInForm",action="/login/signin",method="post")
        input(type='text',name="username", placeholder='Tài Khoản')
        input(type='password',name="password", placeholder='Mật Khẩu')
        button Đăng Nhập

    script(language='JavaScript', src='/js/angular-app.min.js')
    script(language='JavaScript', src='/js/jquery-app.min.js')    

