footer
	.widewrapper.footer
		.container
			.row
				.col-md-4.footer-widget
					h3
						i.fa.fa-wpforms
						| Tdt Forum
					span
						| Mục đích của website dùng để tra cứu thông tin về quy chế nội quy nhà trường và giúp các bạn sinh viên tìm phòng trọ, mở rộng ra sẽ cho phép người dùng tra cứu tiếng anh,công nghệ
				.col-md-4.footer-widget
					h3
						i.fa.fa-star
						|  Liên hệ
					ul.tales-list
						li
						| Nếu các bạn gặp khó khăn hoặc gặp sự cố trong quá trình sử dụng forum vui lòng liên hệ qua email ngohungphuc95@gmail.com để được hỗ trợ
				.col-md-4.footer-widget
					h3
						i.fa.fa-envelope
						|  Phát triển bởi
					p
						a(href='https://github.com/ngohungphuc', rel='nofollow')  Ngô Hùng Phúc
					p
						a(href='https://github.com/nhatnguyen95', rel='nofollow')  Nguyễn Nhật Nguyên
