aside.col-md-4.blog-aside
    .aside-widget
        div(id='searchContent')
            p
                a.btn.btn-primary.btn-md(href='/tao-cau-hoi',style='width:264px') Bạn có thắc mắc ?
            p
                .input-group(ng-controller='SearchController')
                    input#QueryString.form-control(type='text', name='QueryString', ng-model='QueryString', placeholder='Tìm câu hỏi',ng-keydown="$event.which == 13 && Search()")
                    span.input-group-btn
                        button.btn.btn-default(type='button', ng-click='Search()') Go!
        header
            h3 Hot Topic
        .body(ng-controller="HotTopicController")
            ul.tales-list(ng-repeat='hotToipic in hotToipics')
                li
                    a(href='/bai-viet/{{hotToipic._id}}') {{hotToipic.Title}} | Lượt xem {{hotToipic.ViewTime}}

    .aside-widget(ng-if='refs')
        header
            h3 Link Tham Khảo
        .body
            ul.tales-list
                li(ng-repeat='ref in refs')
                    a(href='{{ref.Link}}',target='_blank') {{ref.Title}}
    .aside-widget(ng-controller='UnAnswerQuestionController')
        header
            h3 Câu Hỏi Chưa Được Trả Lời
        .body
            ul.tales-list(ng-repeat='unAnswerQuestion in unAnswerQuestions')
                li
                    a(href='/bai-viet/{{unAnswerQuestion._id}}') {{unAnswerQuestion.Title}} | {{unAnswerQuestion.ViewTime}} Lượt xem
    .aside-widget
        header
            h3 Tags
        .body.clearfix
            ul.tags(ng-controller='TagsController')
                li(ng-repeat='category in categories')
                    a(href='/chuyen-muc/{{category._id}}') {{category.Name}}
