doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/web-style.min.css')
    link(rel='shortcut icon', type='image/x-icon', href='/favicon.ico')


  body
    include header.jade
    block content
    include footer.jade
    script(src="/js/angular-app.min.js")
    script(src="/js/jquery-app.min.js")