footer
    .widewrapper.footer
        .container
            .row
                .col-md-4.footer-widget
                    h3
                        i.fa.fa-wpforms
                        | Tdt Forum
                    span
                        | Mục đích của website dùng để tra cứu thông tin tự dộng về quy chế nội quy nhà trường sử dụng chat bot trả lời tự động, mở rộng ra sẽ cho phép người dùng tra cứu tiếng anh,công nghệ
                    .stats
                        .line
                            span.counter 27
                            span.caption Articles
                        .line
                            span.counter 208
                            span.caption Comments
                        .line
                            span.counter 2
                            span.caption Authors
                .col-md-4.footer-widget
                    h3
                        i.fa.fa-star
                        |  Hall of Fame
                    ul.tales-list
                        li
                            a(href='index.html') Why we Need to Encrypt All Communication
                        li
                            a(href='#') Selling is a Function of Design. Not Vice-Versa.
                        li
                            a(href='#') It’s Hard To Come Up With Dummy Titles
                        li
                            a(href='#') Why the Internet is Full of Cats
                        li
                            a(href='#') Last Made-Up Headline, I Swear!
                .col-md-4.footer-widget
                    h3
                        i.fa.fa-envelope
                        | Liên hệ
                    span
                        | Nếu các bạn gặp khó khăn hoặc gặp sự cố trong quá trình sử dụng forum vui lòng liên hệ qua email
                    span.email
                        a(href='#') ngohungphuc95@gmail.com
    .widewrapper.copyright
        .container
            | Phát triển bởi
            a(href='http://github.com/hoangphucvu', rel='nofollow')  Ngô Hùng Phúc
            br
            a(href='https://github.com/nhatnguyen95', rel='nofollow')  Nguyễn Nhật Nguyên
