header
    .widewrapper.masthead
        .container
            a#logo(href='/')
                | Hệ thống tư vấn trực tuyến
            #mobile-nav-toggle.pull-right
                a(href='#', data-toggle='collapse', data-target='.tales-nav .navbar-collapse')
                    i.fa.fa-bars
            nav.pull-right.tales-nav
                .collapse.navbar-collapse
                    ul.nav.nav-pills.navbar-nav
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                | Tài Khoản
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href='/dang-nhap') Đăng Nhập
                                li
                                    a(href='/dang-ky') Đăng Ký
                        li
                            a(href='/credit') Credit
