//
   Created by phuc.ngo on 12/20/2016.

nav.pull-right.tales-nav
    .collapse.navbar-collapse
        ul.nav.nav-pills.navbar-nav
            li.dropdown
                a.dropdown-toggle(ng-hide='HideLoginSection',href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                    | Tài Khoản
                    span.caret
                ul.dropdown-menu
                    li
                        a(href='/dang-nhap') Đăng Nhập
                    li
                        a(href='/dang-ky') Đăng Ký
            li.dropdown
                a.dropdown-toggle(ng-show='IsLogin',href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                    | Xin chào {{loginUser}}
                    span.caret
                ul.dropdown-menu
                    li
                        a(href='/dang-xuat') Đăng Xuất
            li
                a(href='/credit') Tác Giả
