aside.col-md-4.blog-aside
    .aside-widget
        header
            h3 Read next...
        .body
            ul.tales-list
                li
                    a(href='index.html') Email Encryption Explained
                li
                    a(href='#') Selling is a Function of Design.
                li
                    a(href='#') It’s Hard To Come Up With Dummy Titles
                li
                    a(href='#') Why the Internet is Full of Cats
                li
                    a(href='#') Last Made-Up Headline, I Swear!
    .aside-widget
        header
            h3 Authors Favorites
        .body
            ul.tales-list
                li
                    a(href='index.html') Email Encryption Explained
                li
                    a(href='#') Selling is a Function of Design.
                li
                    a(href='#') It’s Hard To Come Up With Dummy Titles
                li
                    a(href='#') Why the Internet is Full of Cats
                li
                    a(href='#') Last Made-Up Headline, I Swear!
    .aside-widget
        header
            h3 Tags
        .body.clearfix
            ul.tags(ng-controller='ForumController')
                li(ng-repeat='category in categories')
                    a(href='/chuyen-muc/{{category._id}}') {{category.Name}}
