doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/login.min.css", media="bogus")
    link(rel="icon", type="image/x-icon", href='/favicon.ico')

    body(ng-app="ChatBotApp")
    link(rel="stylesheet", href="/css/login.min.css")
    .login-page(ng-controller="LoginCtrl")
    .form(ng-submit="Login()")
      form.login-form(id="loginForm",name="loginForm",method="post")
        input(type='text',name="userName", placeholder='Tài Khoản')
        input(type='password',name="passWord", placeholder='Mật Khẩu')
        button(type="submit") Đăng Nhập

    script(language='JavaScript', src='/js/angular-app.min.js')
    script(language='JavaScript', src='/js/jquery-app.min.js')
    script(language='JavaScript', src='/frontend/app.min.js')
    script(language='JavaScript', src='/frontend/frontend.min.js')

