.widewrapper.main
  .container
    .row
      .col-md-8.blog-main(ng-controller="IndexController")
        .row
          .col-md-6.col-sm-6(ng-repeat='question in questions')
            article.blog-teaser
              header
                h3
                  a(href='/details/{{question._id}}') {{question.Title}}
                span.meta {{question.CreateDate | date : format : fullDate}}
                hr
              .body#bodycontent-index
                | {{question.Content}}
              .clearfix
                a.btn.btn-tales-one(href='/details/{{question._id}}') Đọc thêm
        include ../layout/paging
      include ../layout/side_content
