//
   Created by ngohungphuc on 05/01/2017.

.widewrapper.main
    .container
        .row
            .col-md-8.blog-main(ng-controller='ForumController')
                .bs-callout.bs-callout-info(ng-init="categories = categories;postCount=postCount",ng-repeat='data in categories track by $index')
                    a(href='/chuyen-muc/{{data.categories._id}}',class='cat-name-content')
                        h4 {{data.Name}}
                        h5 {{postCount[$index]}} Bài Viết
            include ../../layout/client/side_content


