//
   Created by ngohungphuc on 06/01/2017.
.widewrapper.main
    .container
        .row
            .col-md-8.blog-main(ng-controller='ForumContainController')
                .row
                    .bs-callout.bs-callout-info(ng-repeat='question in questions')
                        h3 {{question.Title}}
                        h4 Hỏi vào lúc {{question.CreateDate | date : "short" }}
                        h5 Đăng bởi {{question.UserQuestion}}
                        a(href='/bai-viet/{{question._id}}',class='btn btn-primary') Đọc thêm
            include ../../layout/client/side_content