.container.content
	h1(style="text-align:center") Author
	.row.credits
		.col-md-2.col-sm-4.image
			img.img-responsive(src='https://avatars1.githubusercontent.com/u/13591213?v=3&s=460')
		.col-md-4.col-sm-8.details
			h3 Ngô Hùng Phúc
			.author
				span.bold Tác giả:
				a(href='https://github.com/hoangphucvu', target='_blank')
					|  Ngô Hùng Phúc
			.link
				span.bold Link:
				span
					a(href='https://github.com/hoangphucvu', target='_blank')
						|  https://github.com/hoangphucvu
			//-.license
				span.bold License:
				a(href='http://creativecommons.org/licenses/by/3.0/deed.en_US', target='_blank') CC BY 3.0
		.col-md-2.col-sm-4.image
			img.img-responsive(src='https://dwa5x7aod66zk.cloudfront.net/assets/labtocat-be5eee0434960a8f73e54910df8e87b8a5a3b2d651c0b301670c04a9cc26a70f.png')
		.col-md-4.col-sm-8.details
			h3 Nguyễn Nhật Nguyên
			.author
				span.bold Tác giả:
				a(href='https://github.com/nhatnguyen95', target='_blank')
					|  Nguyễn Nhật Nguyên
			.link
				span.bold Link:
				span
					a(href='https://github.com/nhatnguyen95', target='_blank')
						|  https://github.com/nhatnguyen95
