aside.col-md-4.blog-aside
    .aside-widget
        div(style='margin-left: 10%;')
            p
                a.btn.btn-primary.btn-md(href='/tao-cau-hoi',style='width:305px') Bạn có thắc mắc ?
            p
                .input-group
                    input.form-control(type='text', placeholder='Tìm câu hỏi')
                    span.input-group-btn
                        button.btn.btn-default(type='button') Go!
        header
            h3 Read next...
        .body
            ul.tales-list
                li
                    a(href='index.html') Email Encryption Explained
                li
                    a(href='#') Selling is a Function of Design.
                li
                    a(href='#') It’s Hard To Come Up With Dummy Titles
                li
                    a(href='#') Why the Internet is Full of Cats
                li
                    a(href='#') Last Made-Up Headline, I Swear!
    .aside-widget
        header
            h3 Authors Favorites
        .body
            ul.tales-list
                li
                    a(href='index.html') Email Encryption Explained
                li
                    a(href='#') Selling is a Function of Design.
                li
                    a(href='#') It’s Hard To Come Up With Dummy Titles
                li
                    a(href='#') Why the Internet is Full of Cats
                li
                    a(href='#') Last Made-Up Headline, I Swear!
    .aside-widget
        header
            h3 Tags
        .body.clearfix
            ul.tags(ng-controller='ForumController')
                li(ng-repeat='category in categories')
                    a(href='/chuyen-muc/{{category._id}}') {{category.Name}}
