.widewrapper.main
  .container.content
    h1 Image Credits
    .row.credits
      .col-md-2.col-sm-4.image
        img.img-responsive(src='img/cat.png', alt='Cat')
      .col-md-4.col-sm-8.details
        h3 Innocence
        .author
          span.bold Author:
          a(href='http://500px.com/RKingston', target='_blank')
            | Rochelle Kingston
        .link
          span.bold Link:
          span
            a(href='http://500px.com/photo/39364720', target='_blank')
              | http://500px.com/photo/39364720
        .license
          span.bold License:
          a(href='http://creativecommons.org/licenses/by/3.0/deed.en_US', target='_blank') CC BY 3.0
      .col-md-2.col-sm-4.image
        img.img-responsive(src='img/hands.png', alt='Hands')
      .col-md-4.col-sm-8.details
        h3 The Dirt of Coal
        .author
          span.bold Author:
          a(href='http://500px.com/NadavYacobi', target='_blank')
            | Nadav Yacobi
        .link
          span.bold Link:
          span
            a(href='http://500px.com/photo/30720921', target='_blank')
              | http://500px.com/photo/30720921
        .license
          span.bold License:
          a(href='http://creativecommons.org/licenses/by/3.0/deed.en_US', target='_blank') CC BY 3.0
    .row.credits
      .col-md-2.col-sm-4.image
        img.img-responsive(src='img/bike.png', alt='Bike')
      .col-md-4.col-sm-8.details
        h3 Reserved
        .author
          span.bold Author:
          a(href='http://500px.com/MartinHricko', target='_blank')
            | Martin Hricko
        .link
          span.bold Link:
          span
            a(href='http://500px.com/photo/8849012', target='_blank')
              | http://500px.com/photo/8849012
        .license
          span.bold License:
          a(href='http://creativecommons.org/licenses/by/3.0/deed.en_US', target='_blank') CC BY 3.0
      .col-md-2.col-sm-4.image
        img.img-responsive(src='img/violin.png', alt='Violin')
      .col-md-4.col-sm-8.details
        h3 Passion
        .author
          span.bold Author:
          a(href='http://500px.com/MartinHricko', target='_blank')
            | Martin Hricko
        .link
          span.bold Link:
          span
            a(href='http://500px.com/photo/20808109', target='_blank')
              | http://500px.com/photo/20808109
        .license
          span.bold License:
          a(href='http://creativecommons.org/licenses/by/3.0/deed.en_US', target='_blank') CC BY 3.0
    .row.credits
      .col-md-2.col-sm-4.image
        img.img-responsive(src='img/smartguy.png', alt='Cat')
      .col-md-4.col-sm-8.details
        h3 Stranger #7
        .author
          span.bold Author:
          a(href='http://500px.com/enthuan', target='_blank')
            | Antoine Robiez
        .link
          span.bold Link:
          span
            a(href='http://500px.com/photo/36102156', target='_blank')
              | http://500px.com/photo/36102156
        .license
          span.bold License:
          a(href='http://creativecommons.org/licenses/by/3.0/deed.en_US', target='_blank') CC BY 3.0
