//
   Created by ngohungphuc on 05/01/2017.
.widewrapper.main
    .container
        .row
            .col-md-8.blog-main(ng-controller='ForumController')

            include ../layout/side_content

