.widewrapper.main
  .container
    .row
      .col-md-8.blog-main
        .row
          .col-md-6.col-sm-6
            article.blog-teaser
              header
                img(src='http://placehold.it/183x183', alt='A Cat')
                h3
                  a(href='http://www.otisleymcintyre.com/blogs/test') Cats Everywhere
                span.meta 24 July 2013, Alexander Rechsteiner
                hr
              .body
                | Bacon ipsum dolor sit amet esse duis pastrami anim, pancetta fatback capicola officia tenderloin. Meatloaf culpa ut, bacon sed sausage jerky cillum est ham ad laboris ham hock dolore. Venison ut enim, aliqua elit frankfurter et incididunt consequat culpa nostru aliqua elit pancetta.
              .clearfix
                a.btn.btn-tales-one(href='http://www.otisleymcintyre.com/blogs/test') Read more
          .col-md-6.col-sm-6
            article.blog-teaser
              header
                img(src='http://placehold.it/183x183', alt='Hands')
                h3
                  a(href='http://www.otisleymcintyre.com/blogs/test') Big Thinkers
                span.meta 24 July 2013, Alexander Rechsteiner
                hr
              .body
                | Bacon ipsum dolor sit amet esse duis pastrami anim, pancetta fatback capicola officia tenderloin. Meatloaf culpa ut, bacon sed sausage jerky cillum est ham ad laboris ham hock dolore. Venison ut enim, aliqua elit frankfurter et incididunt consequat culpa nostru aliqua elit pancetta.
              .clearfix
                a.btn.btn-tales-one(href='http://www.otisleymcintyre.com/blogs/test') Read more
        .row
          .col-md-6.col-sm-6
            article.blog-teaser
              header
                img(src='http://placehold.it/183x183', alt='A Bike')
                h3
                  a(href='http://www.otisleymcintyre.com/blogs/test') My Insightful Article
                span.meta 24 July 2013, Alexander Rechsteiner
                hr
              .body
                | Bacon ipsum dolor sit amet esse duis pastrami anim, pancetta fatback capicola officia tenderloin. Meatloaf culpa ut, bacon sed sausage jerky cillum est ham ad laboris ham hock dolore. Venison ut enim, aliqua elit frankfurter et incididunt consequat culpa nostru aliqua elit pancetta.
              .clearfix
                a.btn.btn-tales-one(href='http://www.otisleymcintyre.com/blogs/test') Read more
          .col-md-6.col-sm-6
            article.blog-teaser
              header
                img(src='http://placehold.it/183x183', alt='A Violin Player')
                h3
                  a(href='http://www.otisleymcintyre.com/blogs/test') Why I Play Violin
                span.meta 24 July 2013, Alexander Rechsteiner
                hr
              .body
                | Bacon ipsum dolor sit amet esse duis pastrami anim, pancetta fatback capicola officia tenderloin. Meatloaf culpa ut, bacon sed sausage jerky cillum est ham ad laboris ham hock dolore. Venison ut enim, aliqua elit frankfurter et incididunt consequat culpa nostru aliqua elit pancetta.
              .clearfix
                a.btn.btn-tales-one(href='http://www.otisleymcintyre.com/blogs/test') Read more
        include ../layout/paging
      include ../layout/side_content
