.widewrapper.main
  .container
    .row
      .col-md-8.blog-main(ng-controller="IndexController")
        .row
          .col-md-6.col-sm-6(ng-repeat='question in questions track by $index')
            article.blog-teaser
              header
                h3
                  a(href='#') {{question.Title}}
                span.meta {{question.CreateDate}}
                hr
              .body
                | Bacon ipsum dolor sit amet esse duis pastrami anim, pancetta fatback capicola officia tenderloin. Meatloaf culpa ut, bacon sed sausage jerky cillum est ham ad laboris ham hock dolore. Venison ut enim, aliqua elit frankfurter et incididunt consequat culpa nostru aliqua elit pancetta.
              .clearfix
                a.btn.btn-tales-one(href='http://www.otisleymcintyre.com/blogs/test') Đọc thêm
        include ../layout/paging
      include ../layout/side_content
