.container
    .row#login-signinContent(ng-controller="LoginController")
        .col-md-6.col-md-offset-3
            .panel.panel-login
                .panel-heading
                    .row
                        .col-xs-12
                            a#login-form-link.active(href='#') Đăng Nhập
                    hr
                .panel-body
                    .row
                        .col-lg-12
                            div#login-content
                            form#login-form(ng-submit="Login()",style='display: block;')
                                .form-group
                                    input#username.form-control(type='text', name='username', tabindex='1', placeholder='Tài Khoản',ng-model="LoginData.username")
                                .form-group
                                    input#password.form-control(type='password', name='password', tabindex='2', placeholder='Mật Khẩu',ng-model="LoginData.password")
                                .form-group
                                    .row
                                        .col-sm-6.col-sm-offset-3.text-center
                                            button#login-submit.form-control.btn.btn-login(type='submit', name='login-submit', tabindex='4',ng-hide="HideLoginBtn")  Đăng Nhập
                                            img(src="/img/icon/login.gif")(ng-show="ShowLoading")
                                .form-group
                                    .row
                                        .col-lg-12
                                            .text-center
                                                a.forgot-password(href='#', tabindex='5') Quên Mật Khẩu?
