extends ../layout/layout

block content
  .widewrapper.main
    .container
      .row
        .col-md-8.blog-main
          .row
            .panel.panel-default
              .panel-heading Câu hỏi
              .panel-body
                |Nội dung câu hỏi
            .panel.panel-primary
              .panel-heading
                h3.panel-title Trả lời bình luận
              .panel-body  Nội dung 
    
        include ../layout/side_content
          
        
