extends ../layout/layout

block content
  .widewrapper.main
    .container
      .row
        .col-md-8.blog-main
          .row
            ng-view
         
          .paging
            a.newer(href='#')
              i.fa.fa-long-arrow-left
              |  Newer
            span •
            a.older(href='#')
              | Older
              i.fa.fa-long-arrow-right
        include ../layout/side_content

