extends ../layout/layout

block content
  .widewrapper.main
    .container
      .row
        .col-md-8.blog-main
          .row
            .col-md-6.col-sm-6
              article.blog-teaser
                header
                  img(src='img/cat.png', alt='A Cat')
                  h3
                    a(href='blog-detail.html') Cats Everywhere
                  span.meta 24 July 2013, Alexander Rechsteiner
                  hr
                .body
                  | Bacon ipsum dolor sit amet esse duis pastrami anim, pancetta fatback capicola officia tenderloin. Meatloaf culpa ut, bacon sed sausage jerky cillum est ham ad laboris ham hock dolore. Venison ut enim, aliqua elit frankfurter et incididunt consequat culpa nostru aliqua elit pancetta.
                .clearfix
                  a.btn.btn-tales-one(href='blog-detail.html') Read more
            .col-md-6.col-sm-6
              article.blog-teaser
                header
                  img(src='img/hands.png', alt='Hands')
                  h3
                    a(href='blog-detail.html') Big Thinkers
                  span.meta 24 July 2013, Alexander Rechsteiner
                  hr
                .body
                  | Bacon ipsum dolor sit amet esse duis pastrami anim, pancetta fatback capicola officia tenderloin. Meatloaf culpa ut, bacon sed sausage jerky cillum est ham ad laboris ham hock dolore. Venison ut enim, aliqua elit frankfurter et incididunt consequat culpa nostru aliqua elit pancetta.
                .clearfix
                  a.btn.btn-tales-one(href='blog-detail.html') Read more
          .row
            .col-md-6.col-sm-6
              article.blog-teaser
                header
                  img(src='img/bike.png', alt='A Bike')
                  h3
                    a(href='blog-detail.html') My Insightful Article
                  span.meta 24 July 2013, Alexander Rechsteiner
                  hr
                .body
                  | Bacon ipsum dolor sit amet esse duis pastrami anim, pancetta fatback capicola officia tenderloin. Meatloaf culpa ut, bacon sed sausage jerky cillum est ham ad laboris ham hock dolore. Venison ut enim, aliqua elit frankfurter et incididunt consequat culpa nostru aliqua elit pancetta.
                .clearfix
                  a.btn.btn-tales-one(href='blog-detail.html') Read more
            .col-md-6.col-sm-6
              article.blog-teaser
                header
                  img(src='img/violin.png', alt='A Violin Player')
                  h3
                    a(href='blog-detail.html') Why I Play Violin
                  span.meta 24 July 2013, Alexander Rechsteiner
                  hr
                .body
                  | Bacon ipsum dolor sit amet esse duis pastrami anim, pancetta fatback capicola officia tenderloin. Meatloaf culpa ut, bacon sed sausage jerky cillum est ham ad laboris ham hock dolore. Venison ut enim, aliqua elit frankfurter et incididunt consequat culpa nostru aliqua elit pancetta.
                .clearfix
                  a.btn.btn-tales-one(href='blog-detail.html') Read more
          .paging
            a.newer(href='#')
              i.fa.fa-long-arrow-left
              |  Newer
            span •
            a.older(href='#')
              | Older
              i.fa.fa-long-arrow-right
        include ../layout/side_content

