extends ../layout/layout

block content
  .widewrapper.main
    .container
      .row
        .col-md-8.blog-main
          .row
            .col-md-6.col-sm-6
              article.blog-teaser
                header
                  img(src='img/cat.png', alt='A Cat')
                  h3
                    a(href='blog-detail.html') Cats Everywhere
                  span.meta 24 July 2013, Alexander Rechsteiner
                  hr
                .body
                  | Bacon ipsum dolor sit amet esse duis pastrami anim, pancetta fatback capicola officia tenderloin. Meatloaf culpa ut, bacon sed sausage jerky cillum est ham ad laboris ham hock dolore. Venison ut enim, aliqua elit frankfurter et incididunt consequat culpa nostru aliqua elit pancetta.
                .clearfix
                  a.btn.btn-tales-one(href='blog-detail.html') Read more
            .col-md-6.col-sm-6
              article.blog-teaser
                header
                  img(src='img/hands.png', alt='Hands')
                  h3
                    a(href='blog-detail.html') Big Thinkers
                  span.meta 24 July 2013, Alexander Rechsteiner
                  hr
                .body
                  | Bacon ipsum dolor sit amet esse duis pastrami anim, pancetta fatback capicola officia tenderloin. Meatloaf culpa ut, bacon sed sausage jerky cillum est ham ad laboris ham hock dolore. Venison ut enim, aliqua elit frankfurter et incididunt consequat culpa nostru aliqua elit pancetta.
                .clearfix
                  a.btn.btn-tales-one(href='blog-detail.html') Read more
          .row
            .col-md-6.col-sm-6
              article.blog-teaser
                header
                  img(src='img/bike.png', alt='A Bike')
                  h3
                    a(href='blog-detail.html') My Insightful Article
                  span.meta 24 July 2013, Alexander Rechsteiner
                  hr
                .body
                  | Bacon ipsum dolor sit amet esse duis pastrami anim, pancetta fatback capicola officia tenderloin. Meatloaf culpa ut, bacon sed sausage jerky cillum est ham ad laboris ham hock dolore. Venison ut enim, aliqua elit frankfurter et incididunt consequat culpa nostru aliqua elit pancetta.
                .clearfix
                  a.btn.btn-tales-one(href='blog-detail.html') Read more
            .col-md-6.col-sm-6
              article.blog-teaser
                header
                  img(src='img/violin.png', alt='A Violin Player')
                  h3
                    a(href='blog-detail.html') Why I Play Violin
                  span.meta 24 July 2013, Alexander Rechsteiner
                  hr
                .body
                  | Bacon ipsum dolor sit amet esse duis pastrami anim, pancetta fatback capicola officia tenderloin. Meatloaf culpa ut, bacon sed sausage jerky cillum est ham ad laboris ham hock dolore. Venison ut enim, aliqua elit frankfurter et incididunt consequat culpa nostru aliqua elit pancetta.
                .clearfix
                  a.btn.btn-tales-one(href='blog-detail.html') Read more
          .paging
            a.newer(href='#')
              i.fa.fa-long-arrow-left
              |  Newer
            span •
            a.older(href='#')
              | Older
              i.fa.fa-long-arrow-right
        aside.col-md-4.blog-aside
          .aside-widget
            header
              h3 Read next...
            .body
              ul.tales-list
                li
                  a(href='index.html') Email Encryption Explained
                li
                  a(href='#') Selling is a Function of Design.
                li
                  a(href='#') It’s Hard To Come Up With Dummy Titles
                li
                  a(href='#') Why the Internet is Full of Cats
                li
                  a(href='#') Last Made-Up Headline, I Swear!
          .aside-widget
            header
              h3 Authors Favorites
            .body
              ul.tales-list
                li
                  a(href='index.html') Email Encryption Explained
                li
                  a(href='#') Selling is a Function of Design.
                li
                  a(href='#') It’s Hard To Come Up With Dummy Titles
                li
                  a(href='#') Why the Internet is Full of Cats
                li
                  a(href='#') Last Made-Up Headline, I Swear!
          .aside-widget
            header
              h3 Tags
            .body.clearfix
              ul.tags
                li
                  a(href='#') OpenPGP
                li
                  a(href='#') Django
                li
                  a(href='#') Bitcoin
                li
                  a(href='#') Security
                li
                  a(href='#') GNU/Linux
                li
                  a(href='#') Git
                li
                  a(href='#') Homebrew
                li
                  a(href='#') Debian              
